.git
.gitignore
.env
.env.*
!.env.example
node_modules
build
.DS_Store
coverage
.svelte-kit
package-lock.json
yarn.lock
pnpm-lock.yaml
README.md
*.log
.vscode
.idea
tests
__tests__
*.test.js
*.spec.js
Dockerfile*
.dockerignore