node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.mp4.ytdl
*.mp4
*.part-Frag2
*.part
test.json
test2.json
info.json
*.txt
.idx/secrets.nix
buns/.gitignore
buns/.npmrc
buns/.prettierignore
buns/.prettierrc
buns/bun.lock
buns/eslint.config.js
buns/jsconfig.json
buns/package.json
buns/README.md
buns/svelte.config.js
buns/vite.config.js
buns/src/app.css
buns/src/app.d.ts
buns/src/app.html
buns/src/lib/index.js
buns/src/routes/+layout.svelte
buns/src/routes/+page.svelte
buns/static/favicon.png
dr.json
