node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.mp4.ytdl
*.mp4
*.part-Frag2
*.part
test.json
test2.json
info.json
*.txt
.idx/secrets.nix
